<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bem-vindo ao Catálogo de Discos</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Bem-vindo ao Catálogo de Discos</h1>
  <nav>
    <ul>
      <li><a href="/discos">Gerenciar Discos</a></li>
      <li><a href="/artistas">Gerenciar Artistas</a></li>
    </ul>
  </nav>
</body>
</html>
